.sp-thongbao {
  color: red;
  margin-left: 2px;
  /* display: none; */
}

#SapXepGiam {
  display: none;
}

#content {
  width: 100%;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.myCardHeader,
.myCardFooter {
  background-color: transparent;
}
.input-group {
  position: relative;
}
#eye {
  position: absolute;
  top: -10px;
  right: 4px;
  background: none;
}
#eye #eyeOpen {
  display: none;
}
